/* 
This CSS stylesheet file includes the overall styling of the HTML page which we set up.

Some prerequisites to understand this stylesheet:
- https://www.w3schools.com/css/css_boxmodel.asp (CSS Box Model - a box that wraps around every HTML element, i.e. padding, border, margins etc.)
- https://www.w3schools.com/css/css_padding.asp (Paddings - spacing withing the Box Model (inside border and margins)
- https://www.w3schools.com/css/css_border.asp (Border - a line to outline box model components)
- https://www.w3schools.com/css/css_margin.asp (Margins - spacing outside of all elements in the Box Model)
- https://www.w3schools.com/cssref/css_selectors.php (.class and #id selectors, allows you to select elements from HTML)
- https://www.w3schools.com/css/css3_flexbox.asp (Flexbox - helps to alignment elements with flexible spacing and order within a container)

Feel free to search these prerequisites, as well as any other elements up in more detail to understand how it works in more detail. 

DISCLAIMER: This site was designed with basic CSS concepts; responsiveness and advanced formatting have not been implemented.
*/

/* Importing Google Fonts (in this case, Instrument Sans) */
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap");

/* Media Query - Added for responsiveness, ignore this for now */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    flex-direction: column;
    gap: 10px;
  }

  .project-embeds {
    width: 100%;
    height: auto;
  }
}

/* CSS Reset - Sets all margins and paddings to zero for full customization*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fallback Background/Foreground Colors - in case of rendering errors*/
:root {
  --background: #2d2b4d;
  --foreground: #ffffff;
}

/* Types - Use this when you want to style a TYPE of component*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Instrument Sans", Arial, Helvetica, sans-serif;
  background-image: url("images/background-image.png"); /* Background Image */
  background-size: auto;
  background-position: center;
  background-attachment: scroll;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    45,
    43,
    77,
    0.92
  ); /* Background Color Overlay w/ 92% Opacity*/
  z-index: -1;
  pointer-events: none;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
}

/* Classes - Use this when you want to style a GROUP of components */
.main-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 35px;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35%;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 30px;
}

.navbar-logo {
  width: 10%;
  height: auto;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25px;
  color: white;
}

.projects {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 5%;
  align-items: center;
}

.project-cols {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project-row {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.project-box {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: center;
  color: white;
}

.project-box h4 {
  font-size: 23px;
  font-weight: bold;
}

.project-box a {
  color: white;
}

.project-embeds {
  width: 420px;
  height: 295px;
  border: 8px solid #9f73ab;
  border-radius: 23px;
  margin-bottom: 3%;
}

/* IDs - Use this when you want to style a SPECIFIC component */
#main-description {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  font-weight: normal;
}
